
.hero {
    background-image: url('https://i.ibb.co/StCVRPw/food-background.jpg');
    padding: 5em 3em;
    

}

.hero-content-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4em 2em;
    border-radius: 2em;
}

