
.hero {
    background-image: url('https://i.ibb.co/StCVRPw/food-background.jpg');
    padding: 5em 3em;

    min-height: 500px;
    position: relative;
}

.hero-content-container {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;

    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    /* border-radius: 2em; */
}

.hero-contents {
    margin-top: 80px;
    max-width: 1000px;
    padding: 0 4em;
    margin-inline: auto;
}

@media (min-width: 768px) {
    .hero-contents {
        margin-top: 130px;
    }
    
}

